<a href="https://colab.research.google.com/github/northeast23/orm/blob/main/231229_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주석


## 한줄 주석 ("#")

In [13]:
# Ctrl + /   한줄 주석
print('Hello, World 1!')
print('Hello, World 2!')

Hello, World 1!
Hello, World 2!

In [11]:
print('Hello, World 1!')    # 이것도 주석
print('Hello, World 2!')

Hello, World 1!
Hello, World 2!

## 여러 줄 주석 (''' 혹은 """)

In [2]:
print('Hello, World 1!')
print('Hello, World 2!')
print('Hello, World 3!')

Hello, World 1!
Hello, World 2!
Hello, World 3!

In [7]:
'''
이것은 주석입니다.
이렇게 여러줄 주석을 넣을 수 있습니다.
'''
print("Hello, World!")

Hello, World!

In [8]:
'''주석 테스트  (작은따옴표 혹은 큰따옴표 3개. backtick 아님)
주석
주석'''
print("hi")

hi

In [57]:
"""주석 테스트  (작은따옴표 혹은 큰따옴표 3개 앞뒤로 넣어줌. backtick 아님)
주석
주석"""
print("hi")

hi

# 입력 과 출력

## 입력(input)

In [26]:
input('입력해주세요')

입력해주세요헬로우

'헬로우'

In [88]:
name = input("이름을 입력해주세요:")
print("hello, " + name + "!")

이름을 입력해주세요:제인
hello, 제인!

In [27]:
# input 을 활용한 덧셈 - 문자열인 경우
a = input("첫번째 숫자를 입력해주세요")
b = input("두번째 숫자를 입력해주세요")
print ("a + b = ", a+b, " 입니다")    # 문자열 덧셈

첫번째 숫자를 입력해주세요22
두번째 숫자를 입력해주세요33
a + b =  2233  입니다

In [28]:
# input 을 활용한 덧셈 - 문자열을 정수로 치환
a = int(input("첫번째 숫자를 입력해주세요"))
b = int(input("두번째 숫자를 입력해주세요"))
print ("a + b = ", a+b, " 입니다")

첫번째 숫자를 입력해주세요22
두번째 숫자를 입력해주세요33
a + b =  55  입니다

In [31]:
# ChatGPT Code
import datetime

def days_until_birthday(birth_date):
    # Get today's date
    today = datetime.date.today()

    # Extract month and day from the birth date
    birth_month, birth_day = map(int, birth_date.split('-'))

    # Create a date object for the next birthday
    # Year is this year if birthday hasn't occurred yet, or next year if it has
    this_years_birthday = datetime.date(today.year, birth_month, birth_day)
    if this_years_birthday < today:
        next_birthday = datetime.date(today.year + 1, birth_month, birth_day)
    else:
        next_birthday = this_years_birthday

    # Calculate the number of days until the next birthday
    days_left = (next_birthday - today).days
    return days_left

# Example usage
birth_date = input("Enter your birth date (mm-dd): ")
days_left = days_until_birthday(birth_date)
print(f"Days left until your next birthday: {days_left}")

Enter your birth date (mm-dd): 02-28
Days left until your next birthday: 61

## 출력(print)

In [32]:
print('출력해줘')

출력해줘

In [37]:
# print 사용없이 여러줄 쓰면 맨 아래줄을 출력
'출력해줘'
'출력해줘'

'출력해줘'

In [38]:
# 여러값 출력
print("hello", "world", "!")

hello world !

In [36]:
# sep 구분자
print("010","0000","0000", sep="-")

010-0000-0000

In [41]:
# end
print("010","0000","0000", sep="-", end = " 로 연결")

010-0000-0000 로 연결

### f-string

In [42]:
# f-string 사용
name = 'licat'
age = 10
print(f'제 이름은 {name}, 제 나이는 {age}, 입니다')

제 이름은 licat, 제 나이는 10, 입니다

In [87]:
# f-string 사용
name = input("이름을 알려주세요")
print(f'안녕하세요 {name}님, 반갑습니다.')

이름을 알려주세요홍길동
안녕하세요 홍길동님, 반갑습니다.

In [47]:
# f-string 사용안하면
name = 'licat'
age = 10
print('제 이름은 {name}, 제 나이는 {age} 입니다')

제 이름은 {name}, 제 나이는 {age} 입니다

In [48]:
# f-string 쓰고 변수로 안받으면
name = 'licat'
age = 10
print(f'제 이름은 name, 제 나이는 age 입니다')

제 이름은 name, 제 나이는 age 입니다

### None 값 (Print 를 사용하지 않는한 출력 안됨)

In [54]:
# 변수값이 None 이면 출력되지 않음. 실행하면 결과가 아무것도 안나옴
a = None
a

In [53]:
# 변수값이 None 이면 출력되지 않음. print에 넣어봄
a = None
print(a)

None

In [55]:
def f():
  return None

f()    # 함수 f() 불러도 암것도 안나옴

In [56]:
def f():
  return None

print(f())    # 함수를 print에 넣어도 None 출력됨

None

## input 과 print 연습

In [71]:
input("전화번호를 ***-****-**** 형태로 입력해주세요:   ").split("-")

전화번호를 ***-****-**** 형태로 입력해주세요:   010-333-3333

['010', '333', '3333']