<a href="https://colab.research.google.com/github/northeast23/orm/blob/main/240102_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 복습 (주석, print)

In [41]:
# name = input("이름을 입력해 주세요:    ")
# print(f"안녕하세요, {name} 님")

# print("aaa", "bbb", "ccc", sep="-", end = " 반갑습니다")
# p_list = input("전화번호를 ***-****-**** 형태로 입력해주세요:   ").split("-")
# print(p_list[1])

print("aaa", "bbb", "ccc", sep="!")
print("글자를", "붙여서", "나옴", sep="-", end = "?!", )

aaa!bbb!ccc
글자를-붙여서-나옴?!

## backtick - 코드 보여주기

* backtick 으로 막으면 이렇게 보임

`print("hello")`

In [101]:
# backtick 붙여서 코드 복사
print("Hello")

Hello

In [7]:
# 한줄 주석

In [5]:
# 코드 뒤 한줄 주석
print("Hello World")    # 여기도 주석

Hello World

In [4]:
''' 여러줄
여러 줄
주석 작은 따옴표, 큰 따옴표 '''

' 여러줄\n여러 줄 \n주석 작은 따옴표, 큰 따옴표 '

In [9]:
'''print("Hello")
print("Hello")
print("Hello")

Colab 에서는 주석문이 표시됨 '''

'print("Hello")\nprint("Hello")\nprint("Hello")  \n\nColab 에서는 주석문이 표시됨 '

# input/output

## type(input()) --> str

## print(f'문장 {변수} 문장.\n')   - 다음 줄로 break

In [35]:

sentence_1 = input("이번 해에는 매일 ______ 운동을 하기로 했다.:      ")
print(f'이번 해에는 매일 {sentence_1} 운동을 하기로 했다.\n')

sentence_2 = input("또 다른 _____ 운동을 하기로 했다:     ")
print(f'이번 해에는 {sentence_2} 도 연습하기로 했다.\n')


sentence_3= input("또 다른 계획으로는 ____________ 하기로 했다:     ")
print(f'또 다른 계획으로는 {sentence_3} 를 하기로 했다.\n')

print(f'2024년에는 {sentence_1}, {sentence_2}, {sentence_3} 를 결심하셨습니다. \n')

# word_1, word_2 = sentence_2.split()ㅊ
sentence_4, sentence_5 = input("두개 값 받기를 해봅시다. 올해는 ______   와 ____ 에 집중하기로 했다.   빈칸으로 구분해 주세요,\n").split()

print(f'올해는 {sentence_4}   와 {sentence_5} 에 집중하기로 했다.  \n')

이번 해에는 매일 ______ 운동을 하기로 했다.:      걷기
이번 해에는 매일 걷기 운동을 하기로 했다.

또 다른 _____ 운동을 하기로 했다:     수영
이번 해에는 수영 도 연습하기로 했다.

또 다른 계획으로는 ____________ 하기로 했다:     ㅊㅔ조
또 다른 계획으로는 ㅊㅔ조 를 하기로 했다.

2024년에는 걷기, 수영, ㅊㅔ조 를 결심하셨습니다.

두개 값 받기를 해봅시다. 올해는 ______   와 ____ 에 집중하기로 했다.   빈칸으로 구분해 주세요,
코딩연습 체조
올해는 코딩연습   와 체조 에 집중하기로 했다

## var1, var2 = input("  ").split()

In [40]:
name = input("이름을 알려주세요:    ")
phone = input("전화번호를 ### #### #### 형태로 입력해 주세요: ").split()
print(phone)
print(f'{name} 님의', end = " ")
print(f'전화번호는 {phone[0]}-{phone[1]}-{phone[2]} 입니다')

이름을 알려주세요:    수지
전화번호를 ### #### #### 형태로 입력해 주세요: 012 2456 4566
['012', '2456', '4566']
수지 님의 전화번호는 012-2456-4566 입니다

In [44]:
home, place = input("본가는 ______ 이고 현재 ______ 에 살고 있습니다.").split()
print(f'본가는 {home} 이고 현재 {place}에 살고 있습니다.')

본가는 ______ 이고 현재 ______ 에 살고 있습니다.서울 수원
본가는 서울 이고 현재 수원에 살고 있습니다.

# Random

## random.randrange()

In [66]:
from random import randrange
# Randrange(start,stop[, step]) 함수 연습. step 은 선택해서 부여
# start 는 시작값, stop 끝값, step 은 간격. stop 값이 범위에 포함되지 않음.

import random

num = random.randrange(10)
print(f'첫번째 10까지에서 랜덤 수: {num}\n')

start_1 = randrange(1,10,3)

start_2 = randrange(10,20)

start_3 = randrange(10, 101, 10)
print(f'10~101 사이 간격을 10으로: {start_3}\n')

print(f'첫번째 값 1~10,3간격 : {start_1} , 두번째 10~20 랜덤 :  {start_2} \n')

# lotto 번호 생성

num_1 = random.randrange(1,46)
num_2 = random.randrange(1,46)
num_3 = random.randrange(1,46)
num_4 = random.randrange(1,46)
num_5 = random.randrange(1,46)
num_6 = random.randrange(1,46)

print(f'이번 주 로또 번호는 {num_1} {num_2} {num_3} {num_4} {num_5} {num_6} 입니다 \n')

첫번째 10까지에서 랜덤 수: 3

10~101 사이 간격을 10으로: 20

첫번째 값 1~10,3간격 : 4 , 두번째 10~20 랜덤 :  19

이번 주 로또 번호는 9 34 9 34 33 34 입니다

## random.choice()

In [73]:
sequence = ['사과','귤','바나나','체리' ]
rnd = random.choice(sequence)
print(sequence)
print(f'randome.choice 로 선택된 값은 :  {rnd}   \n')
print(f'randome.choice 로 두번째 선택된 값은 :  {rnd}   \n')

['사과', '귤', '바나나', '체리']
randome.choice 로 선택된 값은 :  체리

randome.choice 로 두번째 선택된 값은 :  체리

In [80]:
greetings = "안녕하세요"
choice_char = random.choice(greetings)
print(f"선택된 문자: '{choice_char}' 입니다, \n")

선택된 문자: '세' 입니다,

### type(random.randrange()) ---> int

In [97]:
import random

test1, test2 = input("임의의 숫자 두개를 입력하세요.:   \n").split()
print(f'test1: {test1}  test2: {test2}, test1 + test2 = {test1 + test2}  \n')
type(test1)
type(test2)

test1 = int(test1) + int(test2)
print(f"정수로 변환된 test1 + test2 값은 {test1} \n")
type(test1)

# test_r = random,ran

임의의 숫자 두개를 입력하세요.:
2349753 352362
test1: 2349753  test2: 352362, test1 + test2 = 2349753352362

정수로 변환된 test1 + test2 값은 2702115

int

## 주사위 프로그램

In [102]:
import random

dice1 = random.randrange(1,7)
dice2 = random.randrange(1,7)

sum = dice1 + dice2

print(f"주사위 결과: {dice1} + {dice2} = {sum} \n")

print("random.randeint() 실습 - end point 포함")
dice3 = random.randint(1,6)
dice4 = random.randint(1,6)
print("주사위 결과는  ", dice3 + dice4)

주사위 결과: 5 + 6 = 11

random.randeint() 실습 - end point 포함
주사위 결과는   10

## 윷놀이 프로그램

In [108]:
import random

bar = [0, 1]

bar1 = random.choice(bar)
bar2 = random.choice(bar)
bar3 = random.choice(bar)
bar4 = random.choice(bar)

print(f'윷을 던졌더니  {bar1}  {bar2}  {bar3}  {bar4} 가 나왔습니다. \n')

trial = bar1 + bar2 + bar3 + bar4

# 1 이 하나도 없으면 "모", 도, 개, 걸,윷

result = ["모", "도", "개", "걸", "윷"]

print(" 1 이 하나도 없으면 '모', 도, 개, 걸,윷 순서입니다. \n")

print(f'이번 윷놀이 결과는 "{result[trial]}" 입니다. \n')

윷을 던졌더니  1  1  0  0 가 나왔습니다.

 1 이 하나도 없으면 '모', 도, 개, 걸,윷 순서입니다.

이번 윷놀이 결과는 "개" 입니다.

# 변수 (대문자, 소문자, _ (underscore))

* 숫자로 시작하지 않음. _test ()   1test (X)
* 일반적으로 소문자로 시작. 사용하지 않는 변수는 _ 로 시작
* Python keyword 사용 않함 (import keyword    print(keyword.kwlist)
* class 는 대문자로 시작
* word_word_word