# If
* match (version 3.X 이상)

In [1]:
#
x =2

if x > 1:
    print('True')

True

In [4]:
#
x = 1

if x > 1:
    print('True')
else:
    print("False")

False

In [6]:
#
x = 1

if True:
    print('True')
else:
    print("False")

True

In [7]:
#

if 1:
    print('True')
else:
    print("False")

True

In [8]:
if 10 and [1, 2, 3]: # True나 False가 아니라 단락평가에 의해 [1, 2, 3]
    print('hello')

hello

In [9]:
if -1:              # 0 이 아닌 모든 정수는 True 로 인식
    print('hello')

print('end')

hello
end

In [11]:
if ' ':             # space
    print('hello')
print('end')

# 공백이 없는 문자열
if '':
    print('hello')
print('end')

hello
end
end

In [ ]:
if ' ':              # 빈칸도 True 로 인식
    print('hello')

print('end')

In [12]:
# 공백이 있는 문자열
if ' ':
    print('hello')
print('end')

# 공백이 없는 문자열
if '':
    print('hello')
print('end')

hello
end
end

In [13]:
if not '':
    print('hello')
print('end')

if None:            # None은 False로 처리됩니다.
    print('hello')
print('end')

if not None:
    print('hello')
print('end')

hello
end
end
hello
end

In [14]:
def f():
    return True

if f() or f():
    print('hello')

hello

In [16]:
def f():
    return True

def ff():
    x = 100 / 0         # 실행하면 에러
    return 'hello'

if f() or ff():         # 단락평가
    print('Hello')

Hello

In [ ]:
# 삼항연산: True 조건이 실행식 의 뒤로 감. else 와 한줄 작성
x = 5
y = 10

result = 'x가 더 큽니다' if x > y else 'y와 같거나 y가 더 큽니다.'

print(result) # 출력: 'y와 같거나 y가 더 큽니다.'

## lambda 함수 (익명함수, 함수를 한 줄로 표현, 임시함수)

In [21]:
my_function = lambda x: 'Even' if x % 2 == 0 else 'Odd'
print(my_function(5))

Odd

In [23]:
add = lambda x, y : x + y

print(add(2, 3))

5

## If, else

```
# if, else문의 기본구조
if 조건문: # 조건문을 확인해서 만약 '참'이면 if 문 다음에 문장들은 수행합니다.
    pass
	  # 수행할 문장 1
else: # if문의 조건이 거짓이면 else 문이 실행됩니다.
    pass
	  # 수행할 문장 2
```

In [24]:
x = 3
y = 1

if x > y:
    print('첫번째 값이 더 큽니다.')
else:
    print('두번째 값이 더 크거나 같습니다.')

첫번째 값이 더 큽니다.

In [27]:
x = int(input("score: "))

if x >= 80:
    grade = 'A'
    print(grade)

else:
    print('Check')

score: 80
A

## if, elif, else
```
if 조건문: # 조건문을 확인해서 만약 '참'이면 if 문 다음에 문장들은 수행합니다.
	  # 수행할 문장 1
    pass
elif: # if문의 조건이 '참'이 아니라면 elif 문의 조건문이 참이라면 수행한다.
	  # 수행할 문장 2
    pass

elif: # if문의 조건이 '참'이 아니라면 elif 문의 조건문이 참이라면 수행한다.
	  # 수행할 문장 3
    pass

else: # 위 모든 if문, elif문의 조건이 '참'이 아니라면 수행합니다.
	  # 수행할 문장 4
    pass
```

## 성적 입력 프로그램

In [28]:
#
score = int(input("성적을 입력하세요 (0-100): "))

if score >= 90:         # 90점 이상
    print('A')
elif 90 > score >= 80:  # 80점 이상, 90 미만
    print('B')
elif 80 > score >= 70:  # 70점 이상, 80 미만
    print('C')
elif 70 > score >= 60:  # 60점 이상, 70 미만
    print('D')
else:
    print('F')

성적을 입력하세요 (0-100): 86
B

In [29]:
score = int(input("성적을 입력하세요 (0-100): "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

성적을 입력하세요 (0-100): 60
D

In [30]:
score = 81
money = 0

if score >= 90:
    money += 1000000
elif score >= 80:
    money += 100000
elif score >= 70:
    money += 10000
elif score >= 60:
    money += 1000
else:
    money = 0

print(money)

100000

In [62]:
# if 만 가지고 100000 나오도록 코드 수정해보기

score = 81
money_pot = [1, 2, 3, 4, 5]
# print(type(money_pot))

if score >= 90:
    money_pot[0] = 1000000

if score >= 80:
    money_pot[1] = 100000

if score >= 70:
    money_pot[2] = 10000

if score >= 60:
    money_pot[3] = 1000

else:
    money_pot[4] = 100

# print(money_pot)
money_pot.sort()
print(money_pot[4])


# print(tmp[0])

<class 'list'>
100000

## 중첩 조건문

In [31]:
# if를 중첩해서 사용하기
movie = {
    '영화': '레미제라블',
    '장르': '드라마',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == '드라마':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청') # 출력: 영화시청

영화시청

# 반복문

## for 변수명 in 순회_가능한_객체: str, list, tuple, range

In [37]:
#
for x in 'hello':
    print(f'현재 값은 {x} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [41]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [42]:
for x in range(10):         # range의 종료값이 11이어야 합니다. 종료값-1 까지 값을 생성하기 때문입니다.
    print(f'현재 값은 {x} 입니다.')

현재 값은 0 입니다.
현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.
현재 값은 6 입니다.
현재 값은 7 입니다.
현재 값은 8 입니다.
현재 값은 9 입니다.

In [46]:
for x in range(1, 11, 2):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 3 입니다.
현재 값은 5 입니다.
현재 값은 7 입니다.
현재 값은 9 입니다.

In [48]:
#
s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [56]:
# Dictionary 반복문

단어_사전 = {
    '하나': 'one',
    '둘': 'two',
    '셋': 'three',
}

for i in 단어_사전.items():
    print(i)

('하나', 'one')
('둘', 'two')
('셋', 'three')

In [2]:
# 짝수 더하기

result = 0                  # 반복문에서는 할당 해줘야 함. 비어있는 자료형이라도.

for i in range(101):        # 0~ 100 까지
    if i % 2 == 0:
        result += i

print(result)

2550

In [3]:
# 홀수 더하기

result = 0                  # 반복문에서는 할당 해줘야 함. 비어있는 자료형이라도.

for i in range(101):        # 0~ 100 까지
    if i % 2 == 1:
        result += i

print(result)

2500

## 중첩 for 문

In [4]:
#
for i in [[1, 2], [3, 4], [5, 6]]:
    print(i)
    for j in i:
        print(j)

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6

## 구구단

In [9]:
#
for i in range(1,13):                       # 1부터 12까지
    print(f'------- {i} 단 ----------')
    for j in range(1,13):                   # 1부터 12까지
        t = i * j
        print(f'{i} * {j} = {t}')

------- 1 단 ----------
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
1 * 11 = 11
1 * 12 = 12
------- 2 단 ----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
------- 3 단 ----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
------- 4 단 ----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
------- 5 단 ----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
------- 6 단 ----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72
------- 7 단 ----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
------- 8 단 ----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96
------- 9 단 ----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
------- 10 단 ----------
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
------- 11 단 ----------
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132
------- 12 단 ----------
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

## list comprehension  **** 복습 하기

* 컴프리헨션 문법은 간결함을 증대시킬 뿐만 아니라 기존 for문으로 append하는 것보다 속도가 빠릅니다.

In [12]:
# 아래를 줄이는 코드
x = []

for i in range(1, 10):
    x.append(i)

print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:

# [for i in range(1, 10)]     # step 1

a = [i for i in range(1, 10)]
b = [i * 2 for i in range(1, 10)]

print(a, b)

[1, 2, 3, 4, 5, 6, 7, 8, 9] [2, 4, 6, 8, 10, 12, 14, 16, 18]

## 리스트 컴프리핸션 + 조건문

*

In [15]:
#

l = [i for i in range(1, 10) if i % 2 == 0 ]
print(l)

[2, 4, 6, 8]

In [2]:
# list comprehension 으로 구구단

c_list = [f'{i} x {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]
print(c_list)

['2 x 1 = 2', '2 x 2 = 4', '2 x 3 = 6', '2 x 4 = 8', '2 x 5 = 10', '2 x 6 = 12', '2 x 7 = 14', '2 x 8 = 16', '2 x 9 = 18', '3 x 1 = 3', '3 x 2 = 6', '3 x 3 = 9', '3 x 4 = 12', '3 x 5 = 15', '3 x 6 = 18', '3 x 7 = 21', '3 x 8 = 24', '3 x 9 = 27', '4 x 1 = 4', '4 x 2 = 8', '4 x 3 = 12', '4 x 4 = 16', '4 x 5 = 20', '4 x 6 = 24', '4 x 7 = 28', '4 x 8 = 32', '4 x 9 = 36', '5 x 1 = 5', '5 x 2 = 10', '5 x 3 = 15', '5 x 4 = 20', '5 x 5 = 25', '5 x 6 = 30', '5 x 7 = 35', '5 x 8 = 40', '5 x 9 = 45', '6 x 1 = 6', '6 x 2 = 12', '6 x 3 = 18', '6 x 4 = 24', '6 x 5 = 30', '6 x 6 = 36', '6 x 7 = 42', '6 x 8 = 48', '6 x 9 = 54', '7 x 1 = 7', '7 x 2 = 14', '7 x 3 = 21', '7 x 4 = 28', '7 x 5 = 35', '7 x 6 = 42', '7 x 7 = 49', '7 x 8 = 56', '7 x 9 = 63', '8 x 1 = 8', '8 x 2 = 16', '8 x 3 = 24', '8 x 4 = 32', '8 x 5 = 40', '8 x 6 = 48', '8 x 7 = 56', '8 x 8 = 64', '8 x 9 = 72', '9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81']

In [3]:
cc_list = [f'{i} x {j} = {i*j}' for j in range(1, 10) for i in range(2, 10)]
print(cc_list)

['2 x 1 = 2', '3 x 1 = 3', '4 x 1 = 4', '5 x 1 = 5', '6 x 1 = 6', '7 x 1 = 7', '8 x 1 = 8', '9 x 1 = 9', '2 x 2 = 4', '3 x 2 = 6', '4 x 2 = 8', '5 x 2 = 10', '6 x 2 = 12', '7 x 2 = 14', '8 x 2 = 16', '9 x 2 = 18', '2 x 3 = 6', '3 x 3 = 9', '4 x 3 = 12', '5 x 3 = 15', '6 x 3 = 18', '7 x 3 = 21', '8 x 3 = 24', '9 x 3 = 27', '2 x 4 = 8', '3 x 4 = 12', '4 x 4 = 16', '5 x 4 = 20', '6 x 4 = 24', '7 x 4 = 28', '8 x 4 = 32', '9 x 4 = 36', '2 x 5 = 10', '3 x 5 = 15', '4 x 5 = 20', '5 x 5 = 25', '6 x 5 = 30', '7 x 5 = 35', '8 x 5 = 40', '9 x 5 = 45', '2 x 6 = 12', '3 x 6 = 18', '4 x 6 = 24', '5 x 6 = 30', '6 x 6 = 36', '7 x 6 = 42', '8 x 6 = 48', '9 x 6 = 54', '2 x 7 = 14', '3 x 7 = 21', '4 x 7 = 28', '5 x 7 = 35', '6 x 7 = 42', '7 x 7 = 49', '8 x 7 = 56', '9 x 7 = 63', '2 x 8 = 16', '3 x 8 = 24', '4 x 8 = 32', '5 x 8 = 40', '6 x 8 = 48', '7 x 8 = 56', '8 x 8 = 64', '9 x 8 = 72', '2 x 9 = 18', '3 x 9 = 27', '4 x 9 = 36', '5 x 9 = 45', '6 x 9 = 54', '7 x 9 = 63', '8 x 9 = 72', '9 x 9 = 81']

In [4]:

# 중첩된 리스트 컴프리헨션

# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

## 컴프리헨션 내 함수 사용하기

In [4]:
def sumthingFunction(i):
    if i % 100 ==0:
        return i
    else:
        return 0

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l]        # 함수를 반복문으로 실행
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

## 컴프리헨션 내 lambda 함수 사용하기

In [3]:

l = [100, 200, 300, 101, 202, 303]
l2 = [(lambda x : x * x)(x) for x in l]

print(l2)

[10000, 40000, 90000, 10201, 40804, 91809]

## Dictionary Comprehension

In [5]:
#
d = {}
for i in range(5):
    d[i] = i**2

dd = {i: i**2 for i in range(5)}
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}