# 함수 def f_name():

* 코드의 재사용과 유지보수가 용이해짐
* 가독성이 높아지고, 협업할 때 좋아짐
* 추상화
* tab 과 space 4칸은 다른 코드. 오류날 수 있음. tab 을 space 4칸으로 설정해야 함

In [1]:
def test():
    x = 10
    y = 20
    print(x, y)

test()

10 20

In [2]:
# 함수 만들어 보기
def my_hamsu():     # 함수가 활성화될 준비
    print('1')      # Indentation: Python 에서는 빈칸 4개가 표준. 본문의 시작
    print('2')
    print('3')      # 본문의 끝

my_hamsu()          # 함수의 호출

1
2
3

## 알아두기

### Indentation (tab = space 4 으로 설정)

In [3]:
# Indentation 확인
def my_function():
    print('1')
    print('2')
print('3')          # 첫번째 실행. 함수에 포함되지 않음.

my_function()       # 함수의 실행

3
1
2

### 디스코드에서 내용 가리기 (|| ssss ||)
* code block 으로 가리기 ``` ``` (backtick * 3)

In [4]:
# 함수란 작은 기능을 서브 해줌
# 코드 블럭으로 잡으려면 ``` ```
# || 내용 ||
# || ``` (backtick 3개) 내용 ``` ||     <-- 디스코드에서 코드 가려짐

def my_say():
    print("hello")

my_say()

hello

## 함수의 기본 구조

In [5]:
#
def my_addition(x, y):
    z = x + y
    return z

print(f'my_addition(233226, 25426) = {my_addition(233226, 25426)}')

my_addition(233226, 25426) = 258652

### argument(인수-넘겨줌), parameter(매개변수-함수에서 받음)

In [7]:
def func_name():
    pass                # 임시로 사용. return 이 없으니 "None"을 return

def func_test1():
    return "hello"      # 한줄이라도 있어야 함

def func_test2(x, y):
    return x+y          # 반환을 지정하지 않으면 null 을 반환

print(f'func_name 은 아무것도 안함, {func_name()}')
print(f'func_test1 은 hello 출력, {func_test1()}')
print(f'func_test2 은 9 와 19 의 합 리턴, {func_test2(9, 19)}')

func_name 은 아무것도 안함, None
func_test1 은 hello 출력, hello
func_test2 은 9 와 19 의 합 리턴, 28

In [10]:
# return
def func_test2(x, y):
    # return x+y        # 반환을 지정하지 않으면 null 을 반환
    pass

func_test2(2, 3)        # print 없음

### return + print()

In [11]:
# return + print
def func_test2(x, y):
    # return x+y        # 반환을 지정하지 않으면 null 을 반환
    pass

func_test2(2, 3)        # print 없음
print(func_test2(2, 3)) # print 있음

None

### 함수의 호출 function(arguments)

In [12]:
def f():
    print(1 / 0)    # 0으로 나눠서 에러 발생

print('hello')      # 에러 나는 함수가 호출되지 않아서 에러 안남

hello

#### no args, no return

In [15]:
# no arguments no return
def my_noarg_noreturn():
    pass

my_noarg_noreturn()

In [19]:
def simple_function():
    print("hello world")

print(simple_function())    # 함수를 호출했으니 일단 수행
                            # 그렇지만 return 이 없으니 print 있어서 None

hello world
None

#### no args, has return

In [21]:
# no arguments, return
def give_me_five():
    return 5

result = give_me_five()     # 함수호출해서 5를 받음
print(result)               # 리턴값 프린트

5

#### has args, no return

In [24]:
# arg 있고 리턴은 없음
def greeting(name):
    print(f'Hello, {name}!')

# 함수 호출
greeting('Licat')   # 함수의 수행 . 리턴이 아님.

print(greeting('Licat'))    # None (no return) 출력

Hello, Licat!
Hello, Licat!
None

#### has args, has return

#### None
* 함수에서 return 이 없으면(return = None) print 있어야 출력됨

In [26]:
def add_numbers(x, y):
    sum = x + y
    return sum

# 함수 호출
result = add_numbers(5, 3)  # 함수의 호출 / 리턴 값을 result 에 할당
print(result)  # 출력: 8

8

#### print() 와 return 구분

* return 은 함수 형태 아님
* 결국 return 없으면 None
* print 로 부르지 않으면 출력 없을 수 있음.

### 함수의 정의
def func_name(para1, para2):

#### parameters 함수 정의. arg 받는 것

In [29]:
#
def f(a, b, c):
    print(a, b, c)

f(100, 200, 300)
f(a= 100, b= 200, c= 300)   # keyword parameters
f(c= 300, b= 200, a= 100)   # 순서가 안맞아도 수행

100 200 300
100 200 300
100 200 300

In [30]:
#
def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)                  # a, b는 arg 로 받고, c=parameter기본값
f(a=100, b=200, c=300)      # keyword arguments. arg 우선순위, 없으면 파라미터 기본값
f(c=300, a=100, b=200)   # keyword arguments, 순서가 안맞아도 수행

10 20 30
100 10 30
100 200 300
100 200 300

#### 파라미터 사용 예
* 기본값 없는 파라미터는 기본값있는 파라미터 앞에 정의
* 기본값없는 파라미터는 반드시 arg 로 호

In [46]:
# def f(a=10, b=20, c):
#     print(a, b, c) # error. 기본값없는 파라미터가 기본값있는 파라미터 뒤에 갈 수 없음

def f(a, b=20, c=10):
    print(a, b, c)

f(100, 10) # 출력: 100 10 10
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300
f(500)                 # 출력: 500 20 10

# print(f'{f(a, b, c)}')  # 이렇게 호출해도 에러

100 10 10
100 200 300
100 200 300
500 20 10

#### args: convention 유형

In [34]:
def add_element(my_list):
    my_list.append(1)

a = [2, 3, 4]
add_element(a)
print(a)  # 출력: [2, 3, 4, 1]

[2, 3, 4, 1]

In [45]:
def add_element(my_list):
    my_list = 10
    print(id(my_list)) # 출력: id(10) 138174604837392

a = [2, 3, 4]
add_element(a)          # id(my_list=10) 출력
print(id(a))            # 출력: 138173335223040
print(a)                # 출력: [2, 3, 4]
print(f'{add_element(a)}')
print(id(10))           # id(10)

138174604837392
138173335507840
[2, 3, 4]
138174604837392
None
138174604837392

#### 권장되지 않는 기본값

In [53]:
# 권장하지 않는 방법
def append_to_list(value, lst=[]):
    lst.append(value)
    return lst # 예상치 못한 결과가 발생할 수 있습니다.

append_to_list(1)   # 출력 [1]
append_to_list(2)   # 출력 [1, 2]

[1, 2]

In [54]:
# 권장 방법
def append_to_list(value, lst=None):
    if lst is None:         # 초기화? 안해주면 계속 이어짐(.append())
        lst = []
    lst.append(value)
    return lst

append_to_list(1)

[1]

In [55]:
# 권장 방법
def append_to_list(value, lst=None):
    if lst is None:
        lst = []
    lst.append(value)
    return lst

append_to_list(1)
append_to_list(2)

[2]