# 정규표현식 (별 2개. 1문제 꼭 나옴)
[regexr.com](regexr.com) or [regex101.com](regex101.com)

In [ ]:
# https://regexr.com/5nvc2    # 실습
# 표현식으로 데이터 찾는 것
# https://paullabworkspace.notion.site/7436c793ea724f77bc01240b0a0ed607#d7056bc954124bf4869f7cfa3864bc9d

```
# injection
# sql injection
# 010[- .][0-9][0-9][0-9][0-9][- .][0-9][0-9][0-9][0-9]
```

## 기본 표현

**' _ (underscore)' 는 문자하나를 의미**

**' . (full stop)' 은 모든 문자열**

```
_* : 앞에 있는 문자가 0개 ~ N개
_+ : 앞에 있는 문자가 1개 ~ N개
_? : 앞에 있는 문자가 0개 ~ 1개

{3} : 3개
{3,} : 3개 이상
{1,3} : 1개 ~ 3개

_* : 앞에 있는 문자가 0개 ~ N개 ({0,})
_+ : 앞에 있는 문자가 1개 ~ N개({1,})
_? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

/[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm
/[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
/[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm

010[- .]?[0-9][0-9][0-9][0-9][- .]?[0-9][0-9][0-9][0-9]
```

## compile('패턴').method('string')

In [15]:
import re

regex = re.compile('[a-f]')
s = 'abcdefgihjklmnABCDEFGGHGHH'

regex.findall(s)

['a', 'b', 'c', 'd', 'e', 'f']



```
# 전화번호
# /[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
# /[0-9]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
```

## email address 찾는 정규표현식
* [a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+



```
# 이메일
# /[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm
# ^[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
# .....@----....
```

##

* [0-9]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}
  --> 0에서9까지 2 또는 3자리. - 또는 * .

## 자주 사용하는 표현



```
# /\w/gm : 워드 # 많이 사용
# /\w{5} /gm : 5개의 글자와 스페이스 하나
# /\W/gm : not 워드 # 많이 사용
# /\d/gm : 숫자 # 많이 사용
# /\D/gm : not 숫자
# /\s/gm : 스페이스
# /\S/gm : not 스페이스

# ^\d{3}[- .]?\d{3,4}[- .]?\d{4}$

# /\[.*]/gm : 대괄호([]) 안에 감싸여진 문자열
# /\(.*\)/gm : 소괄호 안에 감싸여진 문자열
# /\\.*\//gm : 이미 사용되고 있는 특수문자로 감싸여진 문자열
# /-.*-/gm : 이스케이프 문자를 사용할 필요가 없는 경우
# /\^\^/gm : 이스케이프 문자가 필요한 경우
# /:\)/gm : 이스케이프 문자가 필요한 경우

# \[.*]
# \[.*\], \[.*\]
```

## 다트게임
school.programmers.co.kr
* 문제열 문제에서 일반적 함정: 0 - 10점 나오도록 조건


```
입력 형식
"점수|보너스|[옵션]"으로 이루어진 문자열 3세트.
예) 1S2D*3T

점수는 0에서 10 사이의 정수이다.
보너스는 S, D, T 중 하나이다.
옵선은 *이나 # 중 하나이며, 없을 수도 있다.
출력 형식
3번의 기회에서 얻은 점수 합계에 해당하는 정수값을 출력한다.
예) 37
```

In [ ]:
# 사용되는 패턴
# 1
p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

# 2
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')

# 자주 사용하는 메서드
sub() : 매치된 부분을 치환 (str에 replace와 같은 역활) # 가장 많이 사용.
findall() : 매치된 부분 모두 리스트 반환

In [3]:
# 1S // 2D* // 3T
# 스타상, 아차상은 빼고 진행

l = []
for i in '1S2D*3T':
    if i.isdigit():
        l.append(int(i))
    elif i == 'S':
        l[-1] = l[-1] ** 1
    elif i == 'D':
        l[-1] = l[-1] ** 2
    elif i == 'T':
        l[-1] = l[-1] ** 3
sum(l)

32

In [4]:
# 1S // 2D* // 3T
# 스타상, 아차상은 빼고 진행

l = []
for i in '1S2D*10T':
    if i.isdigit():
        l.append(int(i))
    elif i == 'S':
        l[-1] = l[-1] ** 1
    elif i == 'D':
        l[-1] = l[-1] ** 2
    elif i == 'T':
        l[-1] = l[-1] ** 3
l

[1, 4, 1, 0]

In [5]:
import re

list(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T'))

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

## 날짜찾기

## 모음제거

maketrans('aeiou', '!!!!!') 와 같이 많이 사용

In [8]:
# re.sub()

import re

def solution(my_string):
    return re.sub(r'[aeiou]', ' ', my_string)

solution('hello world')

'h ll  w rld'

##

In [ ]:
import re


def solution(my_string):
    return sum(map(int, list(re.sub(r"[a-zA-Z]", "", my_string))))

solution('hello1928ljwlie123slie21e1j3')

In [11]:
list(re.findall(r'[0-9]', 'hello1928ljwlie123slie21e1j3'))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
list(re.findall(r'[0-9]+', 'hello1928ljwlie123slie21e1j3'))

['1928', '123', '21', '1', '3']

In [12]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^1-9]', '', my_string)

'1234'

In [13]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('\d', '', my_string)

'aAbBcCoOp'

In [ ]:
# 복습 X
# (r'([0-9]{3}) --> grouping
import re

print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1!\2!\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1/\2/\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1][\2][\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1]-[\2]-[\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'지역번호: \1 전화번호: \2\3', '010-5000-3000'))

In [ ]:
# 복습 XXX
# (r'(?P<one>[0-9]{3})-(?P<two>[0-9]{4})-(?P<three>[0-9]{4}) -->
import re

print(re.sub(r'(?P<one>[0-9]{3})-(?P<two>[0-9]{4})-(?P<three>[0-9]{4})', r'\g<one>!!\g<two>!!\g<three>', '010-5000-3000'))

## python <==> markdown 정규표현식으로

In [14]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', markdown)
    # html = re.sub(r'## (.*)', r'\1', html)
    # html = re.sub(r'# (.*)', r'\1', html)
    # html = re.sub(r'`(.*)`', r'\1', html)
    # html = re.sub(r'\*\*(.*)\*\*', r'\1', html)
    # html = re.sub(r'_(.*)_', r'\1', html)
    # html = re.sub(r'~~(.*)~~', r'\1', html)
    # html = re.sub(r'^(>+) (.*)', r'\1\2', html)
    # html = re.sub(r'^\* (.*)', r'\1', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

<h1>This is a h1</h1>
#<h1>This is a h2</h1>
##<h1>This is a h3</h1>
###<h1>This is a h4</h1>
####<h1>This is a h5</h1>
#####<h1>This is a h6</h1>

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~

In [17]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3

**This is bold text**
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h3>\1<h3>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1<h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    html = re.sub(r'\*\*(.*)\*\*', r'<strong>\1</strong>', html)
    return html

print(markdown_to_html(text))

<h1>This is a h1</h1>
<h2>This is a h2<h2>
<h3>This is a h3<h3>

<strong>This is bold text</strong>

In [ ]:
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

# p = re.compile('^# (.*)', re.MULTILINE)
# text = p.sub(r'\1', text)
text = re.sub(r'^# (.*)', r'\1', text, flags=re.M)
text = re.sub(r'^## (.*)', r'\1', text, flags=re.M)
text

# 복습

In [16]:
import re

정규표현식 = r'([a-zA-Z]+) : (\d+)'
문자열 = 'name : leehojun, age : 10, height : 180, email : paul-lab@naver.com'
결과 = re.search(정규표현식, 문자열)

print(f're.search(정규표현식, 문자열) : {결과}')

# if 결과:
#     print(f'결과값의 시작과 끝 : {결과.start()}, {결과.end()}')
#     print(f'매칭 그룹핑 : {결과.group(0)}') # 그룹 0 ~ 3
# else:
#     print('매칭 결과 없음!')

re.search(정규표현식, 문자열) : <re.Match object; span=(17, 25), match='age : 10'>