<a href="https://colab.research.google.com/github/northeast23/orm/blob/main/240104_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sequence 자료형

In [2]:
example = 'abcde'
print(example[0]) # 출력: a
print(example[2]) # 출력: c

# 뒤에서 부터
print(example[-1]) # 출력: e
print(example[-5]) # 출력: a

a
c
e
a

In [5]:
# 시퀀스의 일부분을 선택하여 새로운 시퀀스를 생성할 수 있습니다.

example = 'abcde'
print(example[1:3]) # 출력: bc   stop point 안들어감

range(10)[3] # 출력: 3
print(range(10)[3])

range(100)[::5] # 출력: range(0, 100, 5)

bc

range(0, 100, 5)

In [9]:
example = 'abcde'
print('a' in example) # 출력: True
print('z' in example) # 출력: False

type(example)

True
False

str

## **패킹(packing), 언패킹(unpacking)** : sequence type 에서 모두 가능 )

In [12]:
#  tuple packing

packed_tuple = 1, 2, 3, 4
print(packed_tuple)

type(packed_tuple)
print(type(packed_tuple))

packed_tuple = 1            # tuple 에 정수 넣으면
type(packed_tuple)          # 자료형이 정수로 변함

(1, 2, 3, 4)
<class 'tuple'>

int

In [13]:
# tuple unpacking
packed_tuple = 1, 2, 3, 4

a, b, c, d = packed_tuple     # tupe 값의 갯수대로 따로 할당하면 값이 쪼개진다
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [15]:
range(3)    # packing 되어 있음
print(a)

range(0, 3)

In [18]:
#
a, b, c = range(3)
print(range(3))

print(a)
print(b)
print(c)

range(0, 3)
0
1
2

In [20]:
# Unpacking 은 sequence 자료형에서 모두 가능

a, b, c, d, e = "Hello"

print(a)
print(e)

H
o

In [23]:
total = 0
for i in range(5):
  total += i
  print(total)

0
1
3
6
10

## '*' 를 이용한 언팩킹 (리스트로 묶인다)

In [26]:
# * 을 이용한 언패킹

first, *middle, last = [1, 2, 3, 4, 5]       # * 붙은 곳에 다 묶여서 리스트형으로 들어감

print(first)
print(middle)
print(last)

print()
*first, last = [1, 2, 3, 4, 5]

print(first)
print(last)

1
[2, 3, 4]
5

[1, 2, 3, 4]
5

# List [   ]

* 가변적(mutable) : 값을 변경, 추가, 삭제가 가능함
* Sequencial
* 여러가지 데이터 타입을 담을 수 있다

In [28]:
z = [1, 'apple', 2.5, ['a', 'b'], (1,2), True]

print(z[0])
print(z[1])
print(z[2])
print(z[3])
print(z[4])
print(z[5])

1
apple
2.5
['a', 'b']
(1, 2)
True

## List 연산

### List 덧셈

In [29]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b)        # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

#### Numpy 로 하면 List 계산도 가능.
아니라면 list 덧셈은 리스트를 붙이는 것

In [44]:
from re import L
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3     # list 각 item 에 3이 곱해짐 numpy
print(l * 3)
l + l   # 너무 당연하게 요소를 붙이는 것이다라고 생각하지 않으셨으면 좋겠습니다.
print(l + l)

[3 6 9]
[2 4 6]

### List 곱셈

In [32]:
a = [1, 2, 3, 4, 5, 6, 7, 9]
b = [6, 7, 8]

print(b * 3)

[6, 7, 8, 6, 7, 8, 6, 7, 8]

### String 은 item 할당이 안됨 (.replace()사용)

## 다차원 리스트

In [34]:
b = [[10, 20, 30], [1, 2, 3]]
'''
10  1
20  2
30  3
'''

print(b[1][2])

3

In [36]:
print(b)
print(b[0])
print(b[1])
print(b[0][1])

[[10, 20, 30], [1, 2, 3]]
[10, 20, 30]
[1, 2, 3]
20

## 리스트 슬라이싱

### [start:stop:step] - endpoint 포함 안됨

In [46]:
l = [1, 2, 3, 4, 5]
print(l[1:4]) # 출력: [2, 3, 4]

[2, 3, 4]

In [51]:
l = [1, 2, 3, 4, 5]
print(l[:])       # 출력: [1, 2, 3, 4, 5]
print(l[::-1])    # 출력: [5, 4, 3, 2, 1]
print(l[::2])     # 출력: [1, 3, 5]
print(l[0:4][::-1]) # 출력: [4, 3, 2, 1]

print(l[0:4][::-1])    # stop point 빠짐

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]
[4, 3, 2, 1]
[4, 3, 2, 1]