# 함수

## 지역 변수, 전역 변수 **** 복습

In [1]:
def f():
    a = 1
    print(a)        # a 는 지역변수

f()                 # 함수 호출. 1 출력
print(a)            # 에러

1

NameError: name 'a' is not defined

In [13]:
test = 100

def f():
    test = 100
    return test

f()
print(test)

100

#### locals(): 사용되는 지역변수 확인

In [2]:
def f():
    a = 1           # local
    print(locals()) # 출력: {'a': 1}

f()

{'a': 1}

In [6]:
def f():
    a = 1
    b = 'hello'
    def ff():       # 함수 내 함수. 함수자체도 지역 변수
        pass
    print(locals()) # 출력: {'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7a46e99d2c20>}

f()

{'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7bbba417dd80>}

#### global
*

In [7]:
# global 변수

a = 100

def f():
    global a
    a = a + 1
    return a

f()
print(a)  # 출력: 101, 함수 f 내에서 전역 변수 a가 수정되었습니다.

101

In [11]:
a = 100
def f():
    # global a  # 이거 없으면 에러
    a = a + 1   # error : 함수 안에서 전역 변수를 global 키워드 없이 수정하는 것은 허락하지 않기 때문에 애러

f()
print(a)

101

In [9]:
a = 100

def f():
    print(a) # 출력: 100

f()

def ff():
    b = a + 1
    print(b) # 출력: 101

ff()

100
101

In [10]:
a = 100

def f():
    a = 1000
    print(a) # 출력: 1000

f()

1000

In [17]:
a = 100
def f():
    a = 100     # a 는 지역 변수 임. 같은 이름일 뿐
f()
print(a)

100

### 함수에서 pass 사용

In [18]:
# TODO 어떠한 일을 해야 합니다.
def my_function():
    pass

## built-in 함수

```
# 요소 전체의 True, False 판별
all
any

# 숫자를 문자로 바꾸거나 문자를 숫자로 바꾸는 함수
chr
ord

# 함수와 순회할 수 있는 객체의 연산
map
filter

# 순회할 수 있는 객체의 묶음
zip

# 형식 변환
format

# 길이 반환
len

# 큰 값, 작은 값, 다 더한 값
max
min
sum

# 문자열, 대표 문자열, 문자열 출력
str
repr
print

# 순회할 수 있는 객체
enumerate
range

# 역순과 정렬
reversed
sorted
```

### all([True, True, True]), any([True, True, True])

In [21]:
# all(), any()
print(all([True, True, True])) # 출력: Ture
print(all([True, True, False])) # 출력: False
print(all([1, 1, 1, 0])) # 출력: False
print(all([1, 0, 1, 1])) # 출력: False
print(all([1, 100, 10, -1])) # 출력: True

True
False
False
False
True

In [23]:
# 하나라도 True이면 True이다.
print(any([True, False, False])) # 출력: True
print(any([False, False, False])) # 출력: False

True
False

### map(function, list or tuple)

In [24]:
# 첫번째 방법
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]
#  리스트의 값을 각각을 따로 계산하고 싶을때 map()사용

[1, 4, 9, 16]

In [28]:
def 제곱(x):
    return x ** 2

map(제곱, [1, 2, 3, 4])

# 제곱(2)
# type(제곱(2))

### filter(조건함수, 리스트 또는 튜플)

In [29]:
# lambda
list(filter(lambda x : x > 50, range(100)))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

### zip(순회할수 있는 객체1, 순회할 수 있는객체2, ..)

In [30]:
zip('ab', '12') # 출력: <zip at 0x7b9d83c6e440>

In [31]:
list(zip('ab', '12')) # 출력: [('a', '1'), ('b', '2')]

[('a', '1'), ('b', '2')]

In [33]:
list(zip('ab', '12', [10, 20])) # 출력: [('a', '1', 10), ('b', '2', 20)]

[('a', '1', 10), ('b', '2', 20)]

In [35]:
list(zip('abc', '1234567', [10, 20, 30]))
# 출력 : [('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [36]:
x = [1, 2, 3]
y = [1, 4, 9]
list(zip(x, y)) # 출력: [(1, 1), (2, 4), (3, 9)]

[(1, 1), (2, 4), (3, 9)]

### format(), len(): 요소의 갯수를 반환

### numpy.sum()

In [ ]:
import numpy as np

np.sum([[1, 2], [3, 101], [1, 20], [3, 100]]) # 출력 : 328

### print(), repr()

In [37]:
class Charactor:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'world'

hero = Charactor()
print(hero) # 출력 : 'world'
hero # 출력 : 'hello'

world

hello

### enumberate(list[])
* 인덱스 번호 시작 지정 가능

In [38]:
#
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))      # 리스트를 받아서 인덱스와 쌍으로 만들어줌(리스트).
print(list(enumerate(values, 1)))   # 인덱스 번호 시작을 1 로 지정
print(list(enumerate(values, 100))) # 인덱스 번호 시작을 100 으로 지정

# # 출력
# [(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
# [(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
# [(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

### sorted(), reversed(): 원본 수정 X

In [39]:
sorted([1, 2, 100, 200, 3, 4, 10, 20])
# 출력 : [1, 2, 3, 4, 10, 20, 100, 200]

[1, 2, 3, 4, 10, 20, 100, 200]

In [40]:
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse=True)
# 출력 : [200, 100, 20, 10, 4, 3, 2, 1]

[200, 100, 20, 10, 4, 3, 2, 1]

In [41]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'])
# 출력 : ['a', 'hel', 'hello', 'heo', 'hllo', 'l']

['a', 'hel', 'hello', 'heo', 'hllo', 'l']

In [42]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
# 출력 : ['l', 'a', 'hel', 'heo', 'hllo', 'hello']

['l', 'a', 'hel', 'heo', 'hllo', 'hello']

In [47]:
print(list(reversed('hello world')))
print(list(reversed([1, 2, 3, 10, 5, 4]))) # 역 정렬 아닙니다! 역순입니다.
print(list(reversed(sorted([1, 2, 3, 10, 5, 4]))))

['d', 'l', 'r', 'o', 'w', ' ', 'o', 'l', 'l', 'e', 'h']
[4, 5, 10, 3, 2, 1]
[10, 5, 4, 3, 2, 1]

### 연습문제

In [49]:
# 문제 1.
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I')
    함수2()
    return "python"


a = 함수1()     # 'I'
                # 'love'
print(a)        # 'python'

I
love
python

In [54]:
# 문제 2.

def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
    # return num1 / num2
    if num2 != 0:
        tmp = num1 / num2
        return int(tmp)
    else:
        return "divide by zero"


print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')
print(f'divide : {divide(10, 0)}')

plus : 15
minus : 5
multiply : 50
divide : 2
divide : divide by zero