<a href="https://colab.research.google.com/github/northeast23/orm/blob/main/240102_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수 (대문자, 소문자, _ (underscore))

* 숫자로 시작하지 않음. _test ()   1test (X)
* 일반적으로 소문자로 시작. 사용하지 않는 변수는 _ 로 시작 (snake 표기법)
* Python keyword 사용 않함 (import keyword    print(keyword.kwlist)
* - (하이픈) 사용 불가
* class 는 대문자로 시작
* word_word_word  (한단어 마다 _ 로 연결하는 형태)

## type()

In [3]:
# Integer
x = 10      # method 사용 가능
print(type(x))
print(dir(x))

# String
x = "10"
print(type(x))
print(dir(x))

<class 'int'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## * dir()

In [7]:
x = 10

print(x)

x = 20

print(x)

# del x  하면 변수가 지워짐

del x

print(x)  #  오류 발생

10
20

NameError: ignored

In [8]:
# None 대문자로 시작
nn = None

## 런타임 다시 시작 (colab menu Runtime) > 세션 다시 시작

# 변수 유형


* Bool --> True / False (숫자타입이 아님)
* 나눗셈 결과는 **FLOAT**

In [9]:
l = [1, 2, 3, 4]       # list, 리스트 자료형
m = ['one', 'two']     # list, 리스트 자료형
n = (1, 2, 3, 4)       # tuple, 튜플 자료형
o = ('one', 'two')     # tuple, 튜플 자료형
p = {'one':1, 'two':2} # dict, 딕셔너리 자료형
q = {1, 2, 3, 4}       # set, 셋 자료형

## 나눗셈 결과는 Float 형

In [11]:
x = 40
y = 20
result = x / y

print(result)
type(result)

2.0

float

## 진수 (Binary,

In [12]:
# 0b  로 시작하면 이진수
x = 0b110
print(x)
print(type(x))

# Oo 8진수
# Ox hexa decimal


# 여기 채우기
x = 26
print()

6
<class 'int'>

# Method

In [17]:
#  Method 확인 하는 방법
# __method__   ---> magic method, 있어야 기본 기능 수행
# 점 찍으면 method 에 접근 가능. () 로 수행함

x = 5

# print(dir(x))

x.bit_count()    # x 값의 바이너리값에서 1의 갯수를 세는 method

2

## id() : -5 ~ 256 내에서만 해당

In [34]:
#  id(x), id(y) : -5 ~ 256 내에서만 해당

x = 256
y = 256

print(x,y)
print(x == y)
print(x is y)
print(id(x), id(y))

print()
x = 257
y = 257
print(x, y)
print(id(x), id(y))   # 256 벗어나면 id 값이 다름
print(x == y)
print(x is y)   # 결과값이 False 로 나옴

256 256
True
True
140168502878416 140168502878416

257 257
140167235594448 140167235595856
True
False

## Float

### infinite

`print("inf")`
* print 할때 "inf" 로 표현되지만 실수(float) 이다
* 실수형 계산은 틀릴 수도 있다 (십진수로 표시하면서 생기는 문제)
  --> decimal() 로 해결
* inf: 양의 무한대
* -inf: 음의 무한대

In [54]:
# print 할때 "inf" 로 표현되지만 실수(float) 이다

x = float("inf")
print(x)

x_test = 10.1
y_test = 10.5
print(x_test + y_test)   # 20.6 이 안나올 수도 있음

x_test = 0.1
y_test = 0.2
print(x_test + y_test)   # 0.3 이 안나올 수도 있음

inf
20.6
0.30000000000000004

In [62]:
import decimal

#  decimal 사용
float(decimal.Decimal('.1') + decimal.Decimal('.2'))
print(float(decimal.Decimal('.1') + decimal.Decimal('.2')))

#  decimal 없이 사용
float(.1 + .1)

0.3

0.2

In [63]:
# square
print(2e7)

20000000.0

### 복소수 (complex):     x = 3 + 4j  또는  x = complex(3,4)
* 실수와 허수의 합
* 수학에서는 i 사용, Python 에서는 j 사용
* x = 3 + 4j  또는  x = complex(3,4) 로 표현

In [70]:
x = 3 + 4j
print(x)

x1 = 3 + 4j
x2 = complex(3,4)

print(x1, x2)

type(x1)
print(x.real)

print(x1*x2)

(3+4j)
(3+4j) (3+4j)
3.0
(-7+24j)

x = 3 + 4j
print(x.real) # 출력 : 3.0
x = 3 + 4j
print(x.imag)

# 복습 문제 (Python 100 제, 9번 15번 23번 39번)

In [176]:
# 9 번
""" year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, )
print(hour, minute, second, )

2019/04/26 11:34:27   """

year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep="/",end = " " )
print(hour, minute, second, sep = ":" )

2019/04/26 11:34:27

In [76]:
#  파이선 100제 - 9번
aaa, bbb, ccc = input("전화번호를 ### #### #### 로 입력해주세요 :    ").split()
print(aaa, bbb, ccc, sep = "-", end = "입력됨")

전화번호를 ### #### #### 로 입력해주세요 :    234 5006 3425
234-5006-3425입력됨

In [78]:
# 파이선 100제 - 15번

name = input("이름을 알려주세요 \n")
place = input("사는 곳은 어디 인가요? \n")
print(f'안녕하세요 제 이름은 {name} 이고, 거주하는 곳은 {place} 입니다. 반갑습니다. \n')

이름을 알려주세요
jame
사는 곳은 어디 인가요?
서울
안녕하세요 제 이름은 jame 이고, 거주하는 곳은 서울 입니다. 반갑습니다.

In [175]:
# 파이선 100제 - 23번

print(10/2)

5.0

In [85]:
# 파이선 100제 - 23번

ans = input("대한민국의 수도는 어디인가요? ")

result = (ans == "서울")

if result == True:
  print ("O")
else:
  print ("X")

대한민국의 수도는 어디인가요? 대전
X

In [168]:
# 39번
'''
**문장이 입력되면 모든 q를 e로, b를 n으로 바꾸는 프로그램을 작성해 주세요.**

- 완성하려는 문장 안에 q나 b가 들어가지 않는다고 가정합니다. '''

sentence = list(input('문장을 입력해 주세요'))     # 리스트로 변경할 필요 없었음
print(sentence)

i = 0

for i in range(len(sentence)) :

  if sentence[i] == "q" :
    sentence[i] = "e"
  elif sentence[i] == "b":
    sentence[i] = "n"

  i = i+1

str_sen = ' '.join(sentence)

print(str_sen)

문장을 입력해 주세요aaqq bb 변경
['a', 'a', 'q', 'q', ' ', 'b', 'b', ' ', '변', '경']
a a e e   n n   변 경

In [174]:
# 39번 이것이 원하는 정답

sentence = input('문장 입력해 주세요')
print(type(sentence))

new_sentence = sentence.replace("q","e").replace("b","n")

print(new_sentence)

문장 입력해 주세요qq 와 nn을 변경하고 bb 도 바꿔보자
<class 'str'>
ee 와 nn을 변경하고 nn 도 바꿔보자