# 파이썬 버전별 변경 사항

* Python 3.5: async await
* Python 3.6: Dict에 순서, f-string, 타입힌트
* Python 3.7: dataclasses
* Python 3.8: 왈러스 연산자(:=)
* Python 3.9: 딕셔너리 결합 연산자(|)
* Python 3.10: match

In [ ]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을  보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

In [ ]:
# 좋은 기능인데 쓰는 사람이 없음

from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

# 파일 입출력 (열었으면 닫아야 함)
* close 안하면 메모리가 살아있음
* 파일모드 : r, w, a, r+ (r+ 잘 사용안함)

In [ ]:
# open(파일이름, 파일모드) - w 로 열면 있는 내용 지워지고 열림 ?

f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.close()

In [ ]:
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.write('hello world')
f.close()

In [ ]:
for i in range(10):
    with open(f'test{i}.txt', 'w') as f:
        f.write('hello world!')

## DB data 처리

* 미션1: 각각의 회원이름_info.txt 로 정리
* 미션2: 액셀로 각각 정보 정리
* 미션3: html table 로 정리하기 --> table 클릭하면 정렬되게 하기 (JS)

In [ ]:
# DB data
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

### 미션 1

In [ ]:
# 미션1: 각각의 회원이름_info.txt 로 정리
# 데이터 추출은 map() 사용

list(map(lambda x: x['name']. db_data))

for i, name in enumerate(map(lambda x: x['name'], db_data)):
  with open(f'{name}_')

In [ ]:
# BeautifulSoup
from bs4 import BeautifulSoup
import json

soup = BeautifulSoup(str(db_data), 'html.parser')
# json_data = json.loads(soup.text)
# json_data

### 미션 2
엑셀로 각각 정보 정리

In [ ]:
# 미션 2
# 엑셀로 각각 정보 정리
# "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
# "index": "5",
# "name": "화예빈",
# "email": "user-mnkpdlp@vel.net",
# "phone": "010-3120-8720",
# "country": "허드 및 맥도널드 제도",
# "address": "한남대로 6-2",
# "job": "전문의사"
with open('data.csv', 'w') as f:
    s = '아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업\n'
    for i in db_data:
        s += f'{i["_id"]},{i["index"]},{i["name"]},{i["email"]},{i["phone"]},{i["country"]},{i["address"]},{i["job"]}\n'
    f.write(s)

### Excel Writer
!pip install xlsxwriter

In [1]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.8/154.8 kB 2.3 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [3]:
#
import xlsxwriter
workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write('A1', 'A')
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

# 이것도 가능
worksheet.write(2, 0, 'hello')

workbook.close()

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

workbook.close()

In [ ]:
for i in zip('ABC', 철수, 영희):
    print(f'{i[0]}4', i[1] + i[2])

In [ ]:
# 여기 확인 **********************

import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

# D1에 평균 텍스트 삽입
worksheet.write('D1', '평균')
# 수식 삽입
worksheet.write('D2', '=SUM(A2:C2)/3')
worksheet.write('D3', '=SUM(A3:C3)/3')

workbook.close()

In [ ]:
# 크롤링
# 웹크롤링 -> 엑셀
# 한글파일 크롤링 -> 엑셀
# PDF 크롤링 -> 엑셀

# 파일 형식 변환
# CSV => xlsx
# JSON => xlsx

# 메크로
# 메크로 작동 로직 => 엑셀

## 미션 3 : html table 로 정리

In [5]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
    <tr>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
    </tr>
</table>
'''
s   # \n 은 엔터

'\n<style>\n    table {\n        border-collapse: collapse;\n        width: 100%;\n        border: 1px solid black;\n    }\n    tr, td, th {\n        border: 1px solid black;\n    }\n</style>\n<table>\n    <tr>\n        <th>아이디</th>\n        <th>인덱스</th>\n        <th>이름</th>\n        <th>이메일</th>\n        <th>휴대폰</th>\n        <th>나라</th>\n        <th>주소</th>\n        <th>직업</th>\n    </tr>\n    <tr>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n        <td>hojun</td>\n    </tr>\n</table>\n'

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''
s += f'''
<tr>
        <td>{db_data[0]["_id"]}</td>
        <td>{db_data[0]["index"]}</td>
        <td>{db_data[0]["name"]}</td>
        <td>{db_data[0]["email"]}</td>
        <td>{db_data[0]["phone"]}</td>
        <td>{db_data[0]["country"]}</td>
        <td>{db_data[0]["address"]}</td>
        <td>{db_data[0]["job"]}</td>
    </tr>
</table>'''
s

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''

for item in db_data:
    s += f'''
        <tr>
                <td>{item["_id"]}</td>
                <td>{item["index"]}</td>
                <td>{item["name"]}</td>
                <td>{item["email"]}</td>
                <td>{item["phone"]}</td>
                <td>{item["country"]}</td>
                <td>{item["address"]}</td>
                <td>{item["job"]}</td>
        </tr>
        '''

s += '</table>'

with open('test.html', 'w') as f:
    f.write(s)

In [ ]:
# 한 라인씩 읽어오기. open/close 사용대신 with 로
f = open('test.html', 'r')
while True:
    line = f.readline()
    if not line:
        break
    print(line, end='')
f.close()

In [ ]:
# 전체 읽기
f = open('test.html', 'r')
data = f.read()
print(data)
f.close()

In [ ]:
# 아래에 append
f = open('test.html', 'a')
s = '<p>hello world!</p>'
f.write(s)
f.close()

# 복습 방법
 1. 제가 권하는 복습 방법: algo문제 푸는 것(프로그래머스(Lv0), 100pyalgo(Lv0 ~ 2))
    프로그래머스 모범답안:
    https://github.com/paullabkorea/programmersLv0/blob/main/Solution.md
 2. 이론을 복습하길 원하시는 분: 인프런 영상 드린 파이썬 부트캠프 (타이핑 치지 않고 1번, 타이핑 치고 1번)

# 비트연산
(알고리즘테스트에서 간혹 출제)

In [ ]:
# 실무에서 비트연산을 하는 경우가 거~~~의 없습니다.
# 알고리즘 테스트에서 CS지식 정도를 테스트 하는 용도로 간혹 출제가 됩니다.
# 진법: 수학 기초 상식

# 10진법
# 1542 == 1 * (10**3) + 5 * (10**2) + 4 * (10**1) + 2 * (10**0)
# 0123456789 10

# 16진법
# 1542 == 1 * (16**3) + 5 * (16**2) + 4 * (16**1) + 2 * (16**0)
# 0123456789abcdef 10

# 8진법
# 1542 == 1 * (8**3) + 5 * (8**2) + 4 * (8**1) + 2 * (8**0)
# 01234567 10

# 01 10

In [ ]:
# 진법 변환 팁
# 10진 == 2진
# 실제로 10자로 표현
# 8개 비트 사용하면 맨앞에 하나는 양수 음수 부호로 사

# 1 == 1
# 2 == 10
# 4 == 100
# 8 == 1000
# 16 == 10000

# 9는? 8 + 1 => 1000 + 1 => 1001
# 15는? 16 - 1 => 10000 - 1 => 1111

## 3 & 9

In [ ]:
# 3 & 9

  0011  # 3
  1001  # 9
# -----
  0001  (& And. 두개 모두 1이어야 1)

## 3 | 9

In [ ]:
# 3 | 9   # or

# 0011
# 1001
# ----
# 1011 => 11

In [ ]:
# 복습 XXX
# 8개의 비트(bit)를 숫자로 사용할 수 있습니다.
# 8개 비트 사용하면 1개를 부호 비트
00000000
00000001 == 1
11111110 == -1    #
11111111 + 1 => 00000000(우리가 원하는 값)

## 비밀지도
* 문제를 보면 입출력을 확인
* 진법 변환

```
매개변수	값
n	5
arr1	[9, 20, 28, 18, 11]
arr2	[30, 1, 21, 17, 28]
출력	["#####","# # #", "### #", "# ##", "#####"]
매개변수	값
n	6
arr1	[46, 33, 33 ,22, 31, 50]
arr2	[27 ,56, 19, 14, 14, 10]
출력	["######", "### #", "## ##", " #### ", " #####", "### # "]
```

### bin(), oct(), hex()
* 2진법으로 변환 bin()
* 8진법         oct()
* 16진법        hex()

In [11]:
# 2진법으로 변환 bin()
# 8진법         oct()
# 16진법        hex()

int('0b11111', 2)    # 2진수를 10진수로 변환
int('11111', 2)

31

In [10]:

9|30    # 9 + 30
bin(9 | 30)
bin(9|30)[2:]   #0b 는 2진수라는 표시. 그래서 제외
bin(9|30)[2:].replace('1', '#').replace('0', '')    # 그림의 색칠한 부분

arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

for i, j in zip(arr1, arr2):
    print(bin(i | j)[2:].replace('1', '#').replace('0', ' '))

#####
# # #
### #
#  ##
#####

In [8]:
["#####","# # #", "### #", "# ##", "#####"]

['#####', '# # #', '### #', '# ##', '#####']

# f-string (string 을 만든다 생각)

In [ ]:
# 문자열에 들어가는 문자열 만들기

name = '이호준'
age = 10

'제 이름은 %s 이고 제 나이는 %d 입니다.'%(name, age)  # % 용법
'제 이름은 {}이고 제 나이는 {}입니다'.format(name, age)     # 권장하지 않음
f'제 이름은 {name}이고 제 나이는 {age} 입니다'              # 권장. f-string 안에 수식넣지 않기

In [12]:
삼 = '짝'*3
칠 = '짝'*7
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format(삼,칠))
print(f'삼삼칠 박수 :  {삼}!!! {삼}!!! {칠}!!! ')

삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [13]:
삼 = '짝'*3
칠 = '짝'*7
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format(삼, 칠))
print(f'삼삼칠 박수 :  {삼}!!! {삼}!!! {칠}!!! ')
print(f'삼삼칠 박수 :  {삼*2}!!! {삼}!!! {칠}!!! ') # {}안에서 연산하는 것은 가독성을 해칠 우려가 있습니다.

삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 :  짝짝짝짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [16]:
one_length = 5.343

print(f'{one_length} 입니다.')
print(f'{one_length:.1f} 입니다.')
print('{0:.2f}'.format(one_length))
print('{:.2f}'.format(one_length))

5.343 입니다.
5.3 입니다.
5.34
5.34

## 가운데 정렬 (^)

In [17]:
# log 출력할 때 가운데 정렬은 많이 사용합니다.
age = 100
print('당신의 나이는 [{:^15}]세'.format(22))
print(f'당신의 나이는 [{age:^15}]세')

당신의 나이는 [      22       ]세
당신의 나이는 [      100      ]세

In [18]:
# log 출력할 때 가운데 정렬은 많이 사용합니다.
age = 100
print('당신의 나이는 [{:^15}]세'.format(22))
print(f'당신의 나이는 [{age:^15}]세')
print(f'당신의 나이는 [{age:<15}]세')
print(f'당신의 나이는 [{age:>15}]세')
print(f'당신의 나이는 [{age:=^15}]세')
print(f'당신의 나이는 [{age:#^15}]세')

당신의 나이는 [      22       ]세
당신의 나이는 [      100      ]세
당신의 나이는 [100            ]세
당신의 나이는 [            100]세
당신의 나이는 [======100======]세
당신의 나이는 [######100######]세

In [ ]:
# 중괄호 3개는 1년에 5번정도 만나는 것 같습니다.
# 잘 모르시면 이걸 해결하는 것이 참 힘듭니다.

age = 10

print(f'My set is {{1, 2, 3}}.')    # 출력: My set is {1, 2, 3}.
print(f'My set is {{age*2}}.')      # 출력: My set is {age*2}.
print(f'My set is {{{age*2}}}.')    # 출력: My set is {20}.

# Comprehension

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i*j}')

l

In [20]:
# list comrehension
# for 문보다 속도가 빠름 (C 계열로 구현됨)
# 위의 code --> list comprehension

[f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10) ]

# Asynchronize : asyncio.run()
* !pip install nest_asyncio  (colab 용)

In [21]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.10/dist-packages (1.5.8)

In [22]:
# Synchronized

import time

def job(number):
    print(f"Job {number} started")
    time.sleep(1)  # 매우 오래 걸리는 작업, 일반 sleep은 CPU를 쉬게 합니다.
    print(f"Job {number} completed")

job(1)
job(2)
job(3)

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [26]:
# colab에서 작동하는 코드
# 기본 base는 colab에서 작동하지 않습니다.
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1) # 매우 오래 걸리는 작업, asyncio.sleep은 비동기 처리를 할 수 있도록 합니다.(다른 작업이 가능합니다.)
    print(f"Job {number} completed")

async def main():
    await asyncio.gather(job(1), job(2), job(3)) # await asyncio.wait([job(1), job(2), job(3)])

# asyncio.run(main())    # 에러 왜 날까
print('hello world')

hello world

## 코루틴 (잊어도 됨)

In [27]:
def job():
    print('job')

In [ ]:

async def job():
    print('job')

print(job) # <function job at 0x7fc8cb38ef80>
job() # <coroutine object job at 0x7fc8cb32bc30>, print('job')이 실행되진 않습니다!

In [2]:
# def job():
#     print('job')

# async def main():
#     # return await job()

# # main() # <coroutine object main at 0x7fc8cb22bf40>?
# # print(await main()) # None

IndentationError: expected an indented block after function definition on line 4 (<ipython-input-2-287542596428>, line 8)