<a href="https://colab.research.google.com/github/northeast23/orm/blob/main/240104_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 논리연산자 (Logical Operators)

## and

In [1]:
num = 15
result = num > 10 and num < 20
print(result)                  # True

True

In [2]:
for i in range(101):
  if i % 3 == 0 and i % 5 == 0:     # 5 의 배수이자 3의 배수 ==> 15의 배수 찾
    print(i)

0
15
30
45
60
75
90

## and - 단락평가(Short Circuit Evaluation)

* and / or 연산에서 A 답이 false 이면 뒤를 수행하지 않음.
* 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있음

In [5]:
a = 'hello'
b = ''

ans = a and b # 출력: ''
print(bool(ans))

False

## or 단락평가(Short Circuit Evaluation)

* or 연산에서 A 답이 true 이면 뒤를 수행하지 않음.
* 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있음

## not

# 할당 연산 ( += 같은 형태. 연산후 할당 )

* //=    몫대입   ( a//=b  or a=a//b

In [7]:
x = 5
y = 2
z = 10

x1 = y * z
x2 = x + (y * z)
x += y * z   # 25

print(x1)
print(x2)
print(x)

20
25
25

In [8]:
x = 5
y = 2
x /= y
print(x)

2.5

# 식별연산 (is 구문, **id()** )

* is **저장된 정보** 같으면 true
* is not **저장된 정보** 가 다르면 true
* **id()**   -5 ~ 256 까지는 같은 주소, 범위 벗어나면 주소가 달라짐. 주의

In [17]:
# 동일 인물 확인
coffee_emp = "Brand"
org_emp = "Brand"

print(coffee_emp is org_emp)
print(coffee_emp == org_emp)

True
True

In [18]:
coffee_emp_id = 1000
org_emp_id = 1000

print(coffee_emp is org_emp)   # false 나올 수 있음
print(coffee_emp == org_emp)

True
True

In [20]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)     # List 는 배열을 새로 생성하면 주소가 달라짐
print('a is c', a is c)

print(id(a),   id(b)  , id(c) )

a == b True
a == c True
a is b False
a is c True
137025982828992 137025982783104 137025982828992

# 멤버 연산 ( in : print("apple" **in** fruits) )

In [21]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False
print([1, 2] in b) # 출력: False
print('h' in c) # 출력: True
print('hello ' in c) # 출력: True

True
True
False
False
True
True

# 연습문제

In [25]:
# 연습문제
# 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.

amt = input("금액:   ")
cal = int(amt)
cal_5000 = cal // 5000     # // 내림 나눗셈 . 5000 원 몇개

cal_1000 = (cal-(cal_5000*5000)) // 1000
cal_500 = (cal-(cal_5000*5000) - (cal_1000*1000)) // 500
cal_100 = (cal-(cal_5000*5000) - (cal_1000*1000)-(cal_500*500)) // 100
cal_10 = (cal-(cal_5000*5000) - (cal_1000*1000)-(cal_500*500)-(cal_100*100))
chng = cal - (cal_5000*5000) - (cal_1000*1000)-(cal_500*500)-(cal_100*100) - (cal_10*10)
print(f'입력된 금액: {amt} 를 5000원권 {cal_5000} 장, 1000원권 {cal_1000}, 500원 {cal_500} 개, 100원 {cal_100}개를 교환하였습니다.')

금액:   3527784
입력된 금액: 3527784 를 5000원권 705 장, 1000원권 2, 500원 1 개, 100원 2개를 교환하였습니다.

In [36]:
#실습 2

my_prc, pct = input(" 제품 원가 ____ 와 할인율 ____ % 를 입력해주세요").split()
print (my_prc, pct)

prc = float(my_prc)
pct2 = float(pct)

sale_price = prc - (prc * pct2 / 100)

print(int(sale_price))

 제품 원가 ____ 와 할인율 ____ % 를 입력해주세요100000 10
100000 10
90000

In [42]:
# 문제

name, age = input("이름 ___  나이___ ").split()
t_age = int(age)

n_age = t_age + 1

ln = len(name)

adult = bool(t_age >= 18)      # 입력한 나이로 성인여부 판단

print(f'내년 나이 {n_age} , 이름 길이 {ln} 올해 성인여부 {adult}')

이름 ___  나이___ 홍길동 16
내년 나이 17 , 이름 길이 3 올해 성인여부 False