<a href="https://colab.research.google.com/github/northeast23/orm/blob/main/240103_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 형 변환

Built-in Function 기능
* int() 정수로 변환
* str() 문자열로 변환
* float() 실수로 변환
* list() 리스트로 변환
* tuple() 튜플로 변환
* dict() 딕셔너리로 변환
* set() 셋으로 변환

None 을 형변환해도 None
float --> string ---> int 일때 에러 발생.
소수점(.) 때문에 발생

* 문자열에 대하여 형변환을 주로 함

In [4]:
m_sal = input("월급을 입력해주세요")
y_sal = m_sal * 12
print(y_sal)

월급을 입력해주세요10000000
100000001000000010000000100000001000000010000000100000001000000010000000100000001000000010000000

In [5]:
m_sal = input("월급을 입력해주세요")
y_sal = int(m_sal) * 12
print(y_sal)

월급을 입력해주세요10000000
120000000

In [6]:
f = 3.14159
print(int(f))

3

In [8]:
true_int = True
false_int = False

print(true_int)
print(false_int)

True
False

In [7]:
true_int = int(True)
false_int = int(False)

print(true_int)
print(false_int)

1
0

In [11]:
true_int = float(True)
false_int = float(False)

print(true_int)
print(false_int)

print(int(None))    # None 은 형변환 안됨

1.0
0.0

TypeError: ignored

In [22]:
n = 123
print(type(n))

m = 123.4
print(type(m))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [12]:
print("book('test'):", bool('test'))

book('test'): True

In [15]:
# 값이 있으면 true
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))   # 공백 = 값 . true
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))    # None
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [16]:
s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

10.0
10.0
3.14

In [17]:
infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')   # nan : Not A Number

In [18]:
# 나눗셈 결과는 항상 float
10 / 1

10.0

## List

* map method list(map(int, '12345'))
: 정수를 리스트로 변환해 줌

In [ ]:
# Set 은 중복을 허용하지 않음. sequence 가 없어서 뒤섞일 수 있음.

In [23]:
list(map(int, ['10', '20', '30']))

[10, 20, 30]

In [25]:
list(map(int, '12345'))

[1, 2, 3, 4, 5]

## 연습문제

In [12]:
# # # 1번 문제

# 다음 변수들이 가리키고 있는 값에 화살표를 그려주세요.
# (z의 값은 무엇일까요?)

x = 100
y = 100
z = x

print(z)

100

In [13]:
# 문제2
x = 258
y = 258
z = x

print(z)

258

In [26]:
# 3번 문제

str = input("문장을 입력해주세요:  ")
print(str*2)

문장을 입력해주세요:  안녕하세요
안녕하세요안녕하세요

### 연습문제 4번

In [7]:
# 4번 문제
# 아래 변수에서 중복을 제거한 유일한 숫자를 알아내는 코드를 작성해주세요. 형변환을 통해 풀어주세요.
# n = 1234567890123123123   --> 1234567890 로 보여주라는 질문인지 모르겠음
# len(set(str(n)))    --> 숫자의 갯수 보여줌

num = 1234567890123123123
s_num = set(str(num))
print("set으로 했을때: ", s_num)      # set 으로 숫자 순서가 변경.

old_num = str(num)
new_num = str()

for txt in old_num:
  if new_num.find(txt) == -1 :     # new_num 에 없으면
    new_num = new_num + txt

print("Old_num: ", old_num)
print("New_num: ", new_num)

set으로 했을때:  {'9', '4', '7', '8', '5', '1', '3', '0', '2', '6'}
Old_num:  1234567890123123123
New_num:  1234567890

In [54]:
# 5번 문자열 s에 마지막에 있는 문자열을 2번 더 붙이는 코드를 작성해주세요.
s = 'jun'
s + (s[-1:]*2)

'junnn'

In [59]:
# 6번 'abcde', 숫자, 대쉬(-), 언더스코어(_)를 모두 제거해주세요. 문자열에 translate를 사용해주세요.

s = "hello_world123"

table = str.maketrans('','','abcde0123456789-_')
s.translate(table)

'hlloworl'

In [72]:
# 7번 문제
# 확장자를 출력해주는 코드를 작성해주세요. 확장자는 png, jpeg, mp4 등입니다.

s = 'licat.jpeg'
# 출력값: 'jpeg'
s_lst = s.split(".")
print(s_lst[-1])

s = 'li.cat.png'
#  출력값: 'png'

s_lst = s.split(".")
print(s_lst[-1])

jpeg
png

# 연산자

## 나눗셈 (division)

* '/' float, '//' 는 정수로 반환
* 음수는 내림으로 계산해서 정수 반환

In [42]:
# 나머지

a = 10
b = 3
divide = a/b

print(10 / 3)
print(10 // 3)
print(10 % 3)

print(f'{a} / {b} = {divide:.2f}')

3.3333333333333335
3
1
10 / 3 = 3.33

## square (** 로 표시)

In [33]:
-2**2     # 정답은 4

-4

In [37]:
# 음수를 괄호에 넣고 제곱
(-2)**2

4

# 비교연산자 ( ==, !=, >=, <=, <, > )

# 부동소수점 비교 (math.isclose() 활용

부동소수점 계산이 틀리는 것을 방지

In [43]:
#


import math

result = 0.1 + 0.2
print(result)

0.30000000000000004

In [44]:
print(result == 0.3)

False

In [45]:
print(math.isclose(result, 0.3))

True

In [47]:
print(math.isclose(result, 0.29))
print(math.isclose(result, 0.31))
print(math.isclose(result, 0.30000001)) # False

False
False
False